<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head profile="http://tribune.com.pk">
<meta content="text/html;charset=utf-8" http-equiv="content-type"/>
<meta content="28129788" property="fb:admins"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>Jinnah and Pythagoras    – The Express Tribune</title>
<script type="text/javascript">
	/*
	 * Configuration for Addthis button
	 */
		var addthis_config =
		{
			username : 'etribune',
			ui_hover_direction : 1,
			ui_click : true,
			ui_cobrand : "The Express Tribune",
			data_track_linkback : true,
			ui_header_color : "#FFF",
			ui_header_background : "#BE0303",
			ui_offset_top : 0,
			ui_offset_left : 0,
			services_compact : "twitter,digg,facebook,delicious,stumbleupon,myspace,more"
		};

		var addthis_share = { templates:  { twitter: "{{title}} - {{url}}" } };
	</script>
<!--[if lte IE 6]>
		<script type="text/javascript" src="http://tribune.com.pk/wp-content/themes/express/js/DD_belatedPNG.js"></script>
		<script type="text/javascript">
			DD_belatedPNG.fix('img, #developer-link a');
		</script>
	<![endif]-->
<link href="/favicon.ico" rel="shortcut icon"/>
<link href="http://tribune.com.pk/application/xmlrpc.php" rel="pingback"/>
<link href="http://tribune.com.pk/wp-content/themes/express/css/css.php?type=print&amp;v=20130822a" media="print" rel="stylesheet" type="text/css"/> <link href="" rel="alternate" title="The Express Tribune » Jinnah and Pythagoras Comments Feed" type="application/rss+xml"/>
<link href="http://tribune.com.pk/wp-content/plugins/wp-email/email-css.css?ver=2.60" id="wp-email-css" media="all" rel="stylesheet" type="text/css"/>
<link href="http://tribune.com.pk/wp-content/plugins/wp-polls/polls-css.css?ver=2.63" id="wp-polls-css" media="all" rel="stylesheet" type="text/css"/>
<link href="http://tribune.com.pk/wp-content/plugins/rate-comments/rate-comments.css?ver=0.2" id="comments_like-css" media="screen" rel="stylesheet" type="text/css"/>
<script src="http://tribune.com.pk/application/wp-includes/js/jquery/jquery.js?ver=1.8.3" type="text/javascript"></script>
<script src="http://tribune.com.pk/wp-content/plugins/express-news-ticker/js/xmlrpc.js?ver=1.1" type="text/javascript"></script>
<script type="text/javascript">
/* <![CDATA[ */
var Ticker_config = {"ajax_url":"http:\/\/tribune.com.pk\/application\/xmlrpc.php","cache_url":"http:\/\/tribune.com.pk\/wp-content\/plugins\/express-news-ticker\/cache\/ticker.json"};
/* ]]> */
</script>
<script src="http://tribune.com.pk/wp-content/plugins/express-news-ticker/js/ticker.min.js?ver=1.3" type="text/javascript"></script>
<script type="text/javascript">
/* <![CDATA[ */
var ET_config = {"ajax_url":"http:\/\/tribune.com.pk\/application\/xmlrpc.php"};
/* ]]> */
</script>
<script src="http://tribune.com.pk/wp-content/plugins/express-trends/js/main.js?ver=1.0" type="text/javascript"></script>
<script src="http://tribune.com.pk/application/wp-includes/js/json2.min.js?ver=2011-02-23" type="text/javascript"></script>
<link href="http://tribune.com.pk/story/445754/diversifying-an-isolationist-policy/" rel="prev" title="Diversifying an isolationist policy"/>
<link href="http://tribune.com.pk/story/445753/a-dangerous-precedent/" rel="next" title="A dangerous precedent"/>
<link href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/" rel="canonical"/>
<link href="http://tribune.com.pk/?p=445815" rel="shortlink"/>
<style type="text/css">
.wp-polls .pollbar {
	margin: 1px;
	font-size: 14px;
	line-height: 16px;
	height: 16px;
	background: #006db5;
	border: 1px solid #ffffff;
}
</style>
<link href="http://tribune.com.pk/wp-content/themes/express/css/css.php?type=main,wmd&amp;v=20130822a" media="screen" rel="stylesheet" type="text/css"/><meta content="Quaid-e-Azam was named Muhamm­ad Ali but he added the name Jinnah to it. What is the meanin­g of Jinnah?" name="description"/>
<meta content="Jinnah and Pythagoras   " name="title"/>
<link href="http://i1.tribune.com.pk/wp-content/uploads/2012/10/445815-KhaledAhmedNew-1349192573-635-160x120.jpg" rel="image_src"/> <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
</head>
<body>
<!-- BEGIN EFFECTIVE MEASURE CODE -->
<!-- COPYRIGHT EFFECTIVE MEASURE -->
<!-- script type="text/javascript">
/*
	(function() {

		var em = document.createElement('script'); em.type = 'text/javascript'; em.async = true;
		 em.src = ('https:' == document.location.protocol ? 'https://pk-ssl' : 'http://pk-cdn') + '.effectivemeasure.net/em.js';
	         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(em, s);

	})();
*/
</script>


<noscript>

	<img src="//pk.effectivemeasure.net/em_image" alt="" style="position:absolute; left:-5px;" />

</noscript -->
<!--END EFFECTIVE MEASURE CODE -->
<div class="container opinion">
<div class="ad-leaderboard-container">
<div class="ad-leaderboard" id="ad-leaderboard-top"></div>
</div>
<div class="clearfix" id="top-bar">
<ul>
<li><a href="http://tribune.com.pk/rss/">RSS</a></li>
<li><a href="/epaper/">Today's Paper</a> </li>
<li class="last"><a href="/subscribe/">Subscribe</a></li>
<li class="beta"> beta 2.1 </li>
</ul>
</div>
<!-- Header -->
<div class="span-24 last" id="header">
<div class="span-8">
<div id="ad-header-left"></div>
</div>
<div class="logo span-8">
<a href="/" title="The Express Tribune">
<img alt="The Express Tribune" border="0" height="89" src="http://tribune.com.pk/wp-content/themes/express/img/header/logo.gif?v=0.2" width="296"/>
</a>
</div>
<div class="span-8 last">
<div id="ad-header-right"></div>
</div>
</div>
<!-- Navigation -->
<div class="span-24 last" id="navigation">
<ul class="category" id="main-menu"><li class="first home menu-item-object-custom"><a href="http://tribune.com.pk/">Home</a></li>
<li class="pakistan menu-item-object-category"><a href="http://tribune.com.pk/pakistan/">Pakistan</a></li>
<li class="business menu-item-object-category"><a href="http://tribune.com.pk/business/">Business</a></li>
<li class="world menu-item-object-category"><a href="http://tribune.com.pk/world/">World</a></li>
<li class="sports menu-item-object-category"><a href="http://tribune.com.pk/sports/">Sports</a></li>
<li class="life-style menu-item-object-category"><a href="http://tribune.com.pk/life-style/">Life &amp; Style</a></li>
<li class="multimedia menu-item-object-category"><a href="http://tribune.com.pk/multimedia/">Multimedia</a></li>
<li class="current opinion menu-item-object-category"><a href="http://tribune.com.pk/opinion/">Opinion</a></li>
<li class="magazine menu-item-object-category"><a href="http://tribune.com.pk/magazine/">Magazine</a></li>
<li class="blogs menu-item-object-custom"><a href="http://blogs.tribune.com.pk/">Blogs</a></li>
<li class="jobs menu-item-object-custom"><a href="http://jobs.tribune.com.pk/">Jobs</a></li>
<li class="classifieds menu-item-object-custom"><a href="http://classifieds.tribune.com.pk">Classifieds</a></li>
<li class="last menu-item-object-custom"><a href="http://www.express.pk" target="_blank">Urdu News</a></li>
</ul>
<div class="span-24" id="sub-nav">
<div class="span-19">
<ul class="opinion subcategory" id="sub-menu"> <li class="first menu-item-object-category"><a href="http://tribune.com.pk/opinion/editorial/">Editorial</a></li>
<li class="last menu-item-object-category"><a href="http://tribune.com.pk/opinion/letters/">Letters</a></li>
</ul> </div>
<div class="span-5 last" id="search">
<form action="/" class="search" id="cse-search-box" method="get">
<input name="cx" type="hidden" value="partner-pub-2620341023138785:7641568038"/>
<input name="cof" type="hidden" value="FORID:10"/>
<input name="ie" type="hidden" value="UTF-8"/>
<input name="s" type="hidden" value="true"/>
<input name="hq" type="hidden" value="more:recent4"/>
<input class="text" name="q" type="text"/>
<input alt="S" class="image" src="http://tribune.com.pk/wp-content/themes/express/img/search-icon.gif" type="image"/>
</form>
</div>
</div>
</div>
<!-- ticker -->
<div class="span-24" id="tickerbox">
<div class="span-2 label">Alerts</div>
<div class="text"><div id="tickertext"> </div></div>
<div class="controls">
<img alt="&lt;" class="prev" src="http://tribune.com.pk/wp-content/themes/express/img/left-arrow-thin.gif"/>
<img alt="&gt;" class="next" src="http://tribune.com.pk/wp-content/themes/express/img/right-arrow-thin.gif"/>
</div>
</div>
<div id="fb-root"></div>
<div class="single primary span-16">
<div class="story clearfix" id="id-445815">
<h1 class="title"><a href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/">Jinnah and Pythagoras   </a></h1>
<div class="excerpt display-none">
         Quaid-e-Azam was named Muhamm­ad Ali but he added the name Jinnah to it. What is the meanin­g of Jinnah?      </div>
<div class="meta">
<div class="author">By <a href="http://tribune.com.pk/author/460/khaled-ahmed/" title="Posts by Khaled Ahmed">Khaled Ahmed</a></div>
<div class="timestamp" title="2012-10-02T16:59:56 GMT">Published: October 2, 2012</div>
</div>
<div class="social-widget story-social-links clearfix">
<div class="twitter-link">
<a class="twitter-share-button" data-count="horizontal" data-text="Jinnah and Pythagoras" data-url="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/" data-via="etribune" href="http://twitter.com/share">Tweet</a>
</div>
<div class="fb-link">
<!--<fb:like colorscheme="evil" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/" layout="button_count"
                                            show_faces="false" width="100px"></fb:like>-->
<div class="fb-like" data-href="" data-layout="button_count" data-send="false" data-show-faces="true" data-width="100"></div>
</div>
<div class="google-link">
<g:plusone size="medium"></g:plusone>
</div>
<a class="share-this" href="http://www.addthis.com/bookmark.php?v=250" id="addthis_button_445815_1336481852" title="Share"><img alt="" src="http://tribune.com.pk/wp-content/themes/express/img/share-18-btf.gif?v=1.0"/><span>Share this article</span></a><script type="text/javascript"> jQuery(window).load(function(){ addthis.button("#addthis_button_445815_1336481852", {}, {url: "http://tribune.com.pk/story/445815/jinnah-and-pythagoras/", title: "Jinnah and Pythagoras   "}); }); </script> <a href="?print=true" title="Printer Friendly">
<img alt="" src="http://tribune.com.pk/wp-content/themes/express/img/printer-friendly.gif?v=1.0"/>
<span>Print this page</span>
</a>
<a class="email-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/emailpopup/" rel="nofollow" title="Email">Email</a>
</div>
<div class="clearfix story-content">
<div class="story-image">
<div class="story-image-container">
<img alt="" height="469" src="http://i1.tribune.com.pk/wp-content/uploads/2012/10/445815-KhaledAhmedNew-1349192573-635-640x480.jpg" width="625"/>
</div>
<p class="caption">
                  The writer is Director South Asian Media School, Lahore
khaled.ahmed@tribune.com.pk               </p>
</div>
<p>The Quaid-e-Azam was named Muhammad Ali (new spelling) but he added the name Jinnah to it. What is the meaning of Jinnah? Will it be too shocking to relate his name to Greek philosopher Pythagoras who is said to have travelled to India and met the hermits of Jina-dharm, or more familiarly Jainism?</p>
<p>Jinnah was a part of his father’s name: Jinabhai Poonja, who named him Mohamed Ali, which could also be written in the Ismaili style: Mohamedali. (Fatima Jinnah fondly called him Mamed.) <a href="%20Plurality,%20Hindutva%20and%20Beyond">In <em>The Shaping of Gujarat: Plurality</em>, <em>Hindutva and Beyond</em></a> (Penguin, 2005), it is noted that Jina was a common name among Gujaratis and also among Muslims who started settling in Gujarat in the 12<sup>th</sup> century. Many Muslims (Bohra, Khoja, Memon) included local converts, all claiming to be from the Lohana Rajput tribe.</p>
<p>The book also records the rise of Jainism in Gujarat under the Rajput dynasty of the Chalukiya (AD 942-1299), many of this faith rising to high ranks and counted among the tradesmen shaped by the only port, Surat, on the western coast of India. Ismaili-Bohra scholar Asghar Ali Engineer once told me that Ismaili-Musta’ali Muslims called themselves Bohra after they were well treated by a local Gujarati ruler named Vohra.</p>
<p>Jinnah’s Poonja family had its origin in Gujarat and could have grown to admire the non-violent Jains also called Jinas. In <a href="http://books.google.com.pk/books/about/The_Penguin_book_of_Hindu_names.html?id=7P8cAAAAYAAJ&amp;redir_esc=y">Maneka Gandhi’s book of Hindu names</a>, a dozen names starting with Jina are all identified as of Jain origin, meaning victorious. Jinnah’s father was named Jinabhai.</p>
<p>Pythagoras (570–495 BC) is a pre-Socratic Ionian (today’s Turkey) thinker who betrayed strong ascetic influence only known in India. Legend has it that he travelled from Ionia to Egypt, then to Babylon, before going to India where he met the living Jina saint — naked because he was Digambara (sky-clad) rather than Svetambara (white-clad). He was converted to the ahimsa faith. Alexander, too, met the same Jina naked philosophers when he came to India. (Junagadh, which is now in Gujarat, means Greek City.) Gandhi, the great Gujarati leader, too, embraced ahimsa as his political creed.</p>
<p>One should note that Jina is from the root ‘<em>jai</em>’, which means ‘victory’ in Hindi. ‘Jina’, therefore, means ‘victor’. It is interesting that the concept of victory in Sanskrit is linked to survival of the winner rather than the death of his enemy. Jina also means ‘to live’. The greatest scholar of Indo-European word roots, Joseph Shipley, linked the English word victory to survival through victuals (food), which sustains life.</p>
<p>Pythagoras means Apollo’s court. But thereby hangs a tale. The Oracle of Delphi — Apollo’s oracle — was built around a process of divination on the rotten bones of a snake by a prostitute. One must remember that the Greek ‘y’ is actually the English ‘u’. The ‘<em>pyth</em>’ in Pythagoras is actually ‘<em>puth</em>’.</p>
<p>It comes from the Greek <em>puth</em>ein (to rot). This Greek word has given us many derivatives, some of them quite strange. Jospeh Shipley comes up with the Indo-European root ‘pu’, which is close to ‘bu’ of Persian, meaning rotten smell, and French ‘pue’ means to smell badly. Greek <em>puon</em> and Latin word <em>pus</em> (also English) gives rise to putrid and pyorrhea, the bad smell that comes from rotten teeth.</p>
<p>The divining prostitute was called <em>pythia</em>. (One snake is today named python.) She symbolised nature’s fertility. Robert Graves thought the cult had come from India. Today, Italian for prostitute is <em>putta</em> and the French word for it is <em>putain</em>. (The French are careful not to write the name of the Russian president, Putin as it is, because of its phonetic similarity with <em>putain</em>; they write it Poutine.)</p>
<p><em>Published in The Express Tribune, October </em><em>3<sup>rd</sup>, 2012.</em></p>
<div>
</div>
</div>
<div class="social-widget story-social-links clearfix">
<div class="twitter-link">
<a class="twitter-share-button" data-count="horizontal" data-text="Jinnah and Pythagoras" data-url="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/" data-via="etribune" href="http://twitter.com/share">Tweet</a>
</div>
<div class="fb-link">
<!--<fb:like colorscheme="evil" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/" layout="button_count"
                                            show_faces="false" width="100px"></fb:like>-->
<div class="fb-like" data-href="" data-layout="button_count" data-send="false" data-show-faces="true" data-width="100"></div>
</div>
<div class="google-link">
<g:plusone size="medium"></g:plusone>
</div>
<a class="share-this" href="http://www.addthis.com/bookmark.php?v=250" id="addthis_button_445815_623022757" title="Share"><img alt="" src="http://tribune.com.pk/wp-content/themes/express/img/share-18-btf.gif?v=1.0"/><span>Share this article</span></a><script type="text/javascript"> jQuery(window).load(function(){ addthis.button("#addthis_button_445815_623022757", {}, {url: "http://tribune.com.pk/story/445815/jinnah-and-pythagoras/", title: "Jinnah and Pythagoras   "}); }); </script> <a href="?print=true" title="Printer Friendly">
<img alt="" src="http://tribune.com.pk/wp-content/themes/express/img/printer-friendly.gif?v=1.0"/>
<span>Print this page</span>
</a>
<a class="email-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/emailpopup/" rel="nofollow" title="Email">Email</a>
</div>
<div class="clearfix story-social-links-more">
<div class="twitter-follow-button-container">
<a class="twitter-follow-button" data-lang="en" data-show-count="false" href="https://twitter.com/etribune">Follow @etribune</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div class="become-a-fan">on Twitter, become a fan on <span>Facebook</span></div>
<div class="fb-link">
<div class="fb-like" data-href="https://www.facebook.com/etribune" data-layout="button_count" data-send="false" data-show-faces="true" data-width="450"></div>
</div>
</div>
<div class="related-stories-widget widget">
<h4>Related Stories</h4>
<div class="content"><ul class="links related-stories"><li><span class="date">18 Sep 2012</span><a href="http://tribune.com.pk/story/438566/debating-jinnah/"><img alt="farhan-ahmed-shah-new-2-2" class="left" src="http://i1.tribune.com.pk/wp-content/uploads/2012/09/438566-FarhanAhmedShahNew-1347984349-667-160x120.JPG"/></a><a class="relatedtext" href="http://tribune.com.pk/story/438566/debating-jinnah/" title="Jinnah understood overbearing role religious right would adopt. He thus strongly opposed role of mullahs in politics.">Debating Jinnah</a></li><li><span class="date">11 Sep 2012</span><a href="http://tribune.com.pk/story/434824/twitter-alert-remembering-jinnah-64-years-on/"><img alt="jinnah-afp" class="left" src="http://i1.tribune.com.pk/wp-content/uploads/2012/09/434824-jinnahafp-1347361120-780-160x120.jpg"/></a><a class="relatedtext" href="http://tribune.com.pk/story/434824/twitter-alert-remembering-jinnah-64-years-on/" title="Muhammad Ali Jinnah passed away on September 11, 1948.">Twitter alert: Remembering Jinnah 64 years on</a></li><li><span class="date">13 Sep 2012</span><a href="http://tribune.com.pk/story/435739/commemoration-writers-and-poets-roused-people-to-join-freedom-movement/"><img alt="poetry-2-2-2" class="left" src="http://i1.tribune.com.pk/wp-content/uploads/2012/09/435739-poetry-1347514641-319-160x120.jpg"/></a><a class="relatedtext" href="http://tribune.com.pk/story/435739/commemoration-writers-and-poets-roused-people-to-join-freedom-movement/" title="Speakers discuss the role of literary figures in motivating the masses to fight for their rights.">Commemoration: ‘Writers and poets roused people to join freedom movement’</a></li><li class="last"><span class="date">12 Sep 2012</span><a href="http://tribune.com.pk/story/435144/i-do-not-want-a-country-of-extremists-and-mullahs-but-a-country-of-quaid-e-azams-vision/"><img alt="altaf-hussain-13-photo-mqm-2-2" class="left" src="http://i1.tribune.com.pk/wp-content/uploads/2012/09/435144-altafhussainPHOTOMQM-1347407238-428-160x120.jpg"/></a><a class="relatedtext" href="http://tribune.com.pk/story/435144/i-do-not-want-a-country-of-extremists-and-mullahs-but-a-country-of-quaid-e-azams-vision/" title="Imagine if the US told its Muslim citizens they had no rights and destroyed their mosques?, asks Altaf Hussain.">‘I do not want a country of extremists and mullahs but a country of Quaid-e-Azam’s vision’</a></li></ul></div>
</div>
</div>
<div class="ad-fullbanner-btf-container clear">
<div class="ad-fullbanner-btf" id="ad-fullbanner-btf"></div>
</div>
<div id="comments">
<div class="last">
<h2>Reader Comments (38)</h2>
</div>
<div class="comments-tabs tabs-container">
<ul class="tabs ul-tabs clearfix">
<li>
<a class="current all-comments" href="#comments">All Comments</a>
</li>
<li>
<a class="recommended-comments" href="#comments">Reader's Recommendations</a>
</li>
</ul>
<div class="tabs-content-group">
<ul class="commentlist hfeed">
<li class="li-comment" id="li-comment-956327">
<div class="div-comment" id="div-comment-956327">
<div class="comment even thread-even depth-1 clearfix" id="comment-956327">
<div class="span-4 meta last">
<div class="author" title="amalgam">amalgam</div>
<div class="timestamp" title="2012-10-02T17:12:39 GMT">
			Oct 2, 2012 - 10:12PM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>Even before Pythagoras , the so called “Pythagoras theoram” was invented in india and is still found in the SULABH SUTRAS 800-600 BC.</p>
<p><span class="comments-like clearfix" id="like-956327"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-956381">
<div class="div-comment" id="div-comment-956381">
<div class="comment odd alt thread-odd thread-alt depth-1 clearfix" id="comment-956381">
<div class="span-4 meta last">
<div class="author" title="Gary">Gary</div>
<div class="timestamp" title="2012-10-02T17:32:37 GMT">
			Oct 2, 2012 - 10:32PM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>Think in Sanskrit and many other Indian languages there are two words for victory. One is Jaya ( which means victory over ONESELF) and an another is Vijaya ( Victory over OTHERS). </p>
<p><span class="comments-like clearfix" id="like-956381"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-956389">
<div class="div-comment" id="div-comment-956389">
<div class="comment even thread-even depth-1 clearfix" id="comment-956389">
<div class="span-4 meta last">
<div class="author" title="mr. righty rightist">mr. righty rightist</div>
<div class="timestamp" title="2012-10-02T17:35:50 GMT">
			Oct 2, 2012 - 10:35PM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>Amazing.</p>
<p>Every time your writing amazes me. So much knowledge, so much analysis.</p>
<p>Can you please teach some logic and reasoning to common Pakistanis also?!!</p>
<p><span class="comments-like clearfix" id="like-956389"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-956435">
<div class="div-comment" id="div-comment-956435">
<div class="comment odd alt thread-odd thread-alt depth-1 clearfix" id="comment-956435">
<div class="span-4 meta last">
<div class="author" title="Khawaja Ali Zubair">Khawaja Ali Zubair</div>
<div class="timestamp" title="2012-10-02T17:53:42 GMT">
			Oct 2, 2012 - 10:53PM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>So Ahmed Ali Jinnah and Fatima Jinnah decided to take cue and changed their names too? On what basis do you claim he added the name himself? I am sorry, but I find your statement highly offensive.</p>
<p><span class="comments-like clearfix" id="like-956435"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-956456">
<div class="div-comment" id="div-comment-956456">
<div class="comment even thread-even depth-1 clearfix" id="comment-956456">
<div class="span-4 meta last">
<div class="author" title="SM">SM</div>
<div class="timestamp" title="2012-10-02T18:02:13 GMT">
			Oct 2, 2012 - 11:02PM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>Much as this information is welcomed by some readers, how is it useful to a people that live in perpetual misery and poverty caused upon them by their own current crop of leaders? </p>
<p>Why not teach our younger generation the virtues of public service and selflessness that Jinnah embodied?</p>
<p><span class="comments-like clearfix" id="like-956456"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-956527">
<div class="div-comment" id="div-comment-956527">
<div class="comment odd alt thread-odd thread-alt depth-1 clearfix" id="comment-956527">
<div class="span-4 meta last">
<div class="author" title="&lt;a href='http://localhost:8080' rel='external nofollow' target='_blank'&gt;Zaidu Chaliyya&lt;/a&gt;"><a href="http://localhost:8080" rel="external nofollow" target="_blank">Zaidu Chaliyya</a></div>
<div class="timestamp" title="2012-10-02T18:26:16 GMT">
			Oct 2, 2012 - 11:26PM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>The Pythagoreans were a super secret sect actually. They even threw a member of their own sect who they thought might reveal their secrets to outside world. This is the first time anywhere I have read that Pythagoras could have travelled to India. Could please point to me the source of this?</p>
<p><span class="comments-like clearfix" id="like-956527"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-956542">
<div class="div-comment" id="div-comment-956542">
<div class="comment even thread-even depth-1 clearfix" id="comment-956542">
<div class="span-4 meta last">
<div class="author" title="usman">usman</div>
<div class="timestamp" title="2012-10-02T18:32:57 GMT">
			Oct 2, 2012 - 11:32PM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>If aurhor thesis is Jinnah opted name because of his love with Jainism then why he is not vegetarian. I don’t understand what actually want to say</p>
<p><span class="comments-like clearfix" id="like-956542"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-956560">
<div class="div-comment" id="div-comment-956560">
<div class="comment odd alt thread-odd thread-alt depth-1 clearfix" id="comment-956560">
<div class="span-4 meta last">
<div class="author" title="BlackJack">BlackJack</div>
<div class="timestamp" title="2012-10-02T18:37:24 GMT">
			Oct 2, 2012 - 11:37PM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>The India connection between Pythagoras and India is certainly interesting – thank you for this. However, I fail to see the connection between Jinnah and Pythagoras. The Tirthankaras  in Jainism were also called Jinas (the 24th was Mahavira who was a contemporary of Pythagoras).The concept of victory that is referred to here is conquering of the self and of the senses thus liberating oneself from the cycle of birth and death; long before the Chalukyas, Chandra Gupta Maurya, whose empire ranged from Balochistan to Assam became a Digambara Jain and renounced the world – you can find him in Plutarch referred to as Sandrocottus when he meets Selecus Nicator of Macedonia and marries his daughter. The word Jina was thus a common word that commanded great respect, and must have been adopted by Jinnah’s people and several others of those times. Further, ahimsa has its roots in Sramanism (a philosophy from Vedic times that grew in opposition to Brahmanism) with principal offshoots of Buddhism and Jainism, which were absorbed by latter-day Hinduism.</p>
<p><span class="comments-like clearfix" id="like-956560"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-956584">
<div class="div-comment" id="div-comment-956584">
<div class="comment even thread-even depth-1 clearfix" id="comment-956584">
<div class="span-4 meta last">
<div class="author" title="Sonia">Sonia</div>
<div class="timestamp" title="2012-10-02T18:45:16 GMT">
			Oct 2, 2012 - 11:45PM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>There is a stark difference between the two names – like you trace their roots.</p>
<p>The article is awesome- but somehow I don’t understand y you made Jinnah and Pythagoras comparison (not being sarcastic). The difference between the roots of the name is way too much!!! But as they say “a few minutes with the wise, is  better than hours spent with books!”</p>
<p><span class="comments-like clearfix" id="like-956584"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-956614">
<div class="div-comment" id="div-comment-956614">
<div class="comment odd alt thread-odd thread-alt depth-1 clearfix" id="comment-956614">
<div class="span-4 meta last">
<div class="author" title="Gaurav">Gaurav</div>
<div class="timestamp" title="2012-10-02T18:53:36 GMT">
			Oct 2, 2012 - 11:53PM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>Ahimsa in Jainism and Buddhism , destroyed India.</p>
<p><span class="comments-like clearfix" id="like-956614"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-956730">
<div class="div-comment" id="div-comment-956730">
<div class="comment even thread-even depth-1 clearfix" id="comment-956730">
<div class="span-4 meta last">
<div class="author" title="Lala Gee">Lala Gee</div>
<div class="timestamp" title="2012-10-02T19:39:44 GMT">
			Oct 3, 2012 - 12:39AM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>This article reminds me of the chicken first or egg first debate that was going on in Baghdad just before the Hulagu Khan’s invasion in which millions of Iraqis were slaughtered like chickens. I wonder what benefit the people or the country can derive from the wisdom presented in this article in order to get out of the present mess. I only hope that the author would use his talents to devise solutions of some of the real problems the people and the country are currently facing; save the deep state, because too much has already been said on the issue.</p>
<p><span class="comments-like clearfix" id="like-956730"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-956735">
<div class="div-comment" id="div-comment-956735">
<div class="comment odd alt thread-odd thread-alt depth-1 clearfix" id="comment-956735">
<div class="span-4 meta last">
<div class="author" title="Curious">Curious</div>
<div class="timestamp" title="2012-10-02T19:41:08 GMT">
			Oct 3, 2012 - 12:41AM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>Mr. Ahmed,</p>
<p>I thought ‘jina’ means ‘thin’ in Gujarati. The correct spelling would be Zina.<br/>
Couple of years back Gujarat had a minister named Zinabhain Darji.<br/>
The meaning you assign to ‘Jina’ as victory is misplaced here, I believe.</p>
<p><span class="comments-like clearfix" id="like-956735"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-956743">
<div class="div-comment" id="div-comment-956743">
<div class="comment even thread-even depth-1 clearfix" id="comment-956743">
<div class="span-4 meta last">
<div class="author" title="Lala Gee">Lala Gee</div>
<div class="timestamp" title="2012-10-02T19:43:45 GMT">
			Oct 3, 2012 - 12:43AM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>@mr. righty rightist: </p>
<p><em>“Can you please teach some logic and reasoning to common Pakistanis also?!!:”</em></p>
<p>Who will teach logic to Indians? An impossible task.</p>
<p><span class="comments-like clearfix" id="like-956743"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-956822">
<div class="div-comment" id="div-comment-956822">
<div class="comment odd alt thread-odd thread-alt depth-1 clearfix" id="comment-956822">
<div class="span-4 meta last">
<div class="author" title="SM">SM</div>
<div class="timestamp" title="2012-10-02T20:10:37 GMT">
			Oct 3, 2012 - 1:10AM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>Great information. But wouldn’t it be a better use of newspaper space to teach the young Pakistani generation the great qualities and virtues that made Jinnah a great leader. </p>
<p>That would be a great service to the young generation which has seen nothing but political bickering and infighting that has reduced Pakistan to the state of an African state rather than that great state which was the envy of most Far East countries whose economies were far behind those of Pakistan’s. </p>
<p>It is high time we started teaching the young people of Pakistan what is possible if we apply our minds to the cause of selflessness and public service.</p>
<p><span class="comments-like clearfix" id="like-956822"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-956919">
<div class="div-comment" id="div-comment-956919">
<div class="comment even thread-even depth-1 clearfix" id="comment-956919">
<div class="span-4 meta last">
<div class="author" title="American Desi">American Desi</div>
<div class="timestamp" title="2012-10-02T20:47:56 GMT">
			Oct 3, 2012 - 1:47AM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>Enlightening as always. For people who complain irrelevance of this article, Pakistan is in the state it is mainly because people of the country are ignorant of their roots and their connections to other civilizations.</p>
<p><span class="comments-like clearfix" id="like-956919"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-956941">
<div class="div-comment" id="div-comment-956941">
<div class="comment odd alt thread-odd thread-alt depth-1 clearfix" id="comment-956941">
<div class="span-4 meta last">
<div class="author" title="Arijit Sharma">Arijit Sharma</div>
<div class="timestamp" title="2012-10-02T20:56:14 GMT">
			Oct 3, 2012 - 1:56AM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>@BlackJack: ” … The concept of victory that is referred to here is conquering of the self and of the senses thus liberating oneself from the cycle of birth and death; … ”</p>
<p>That sounds so much like Jihad to me.<span class="comments-like clearfix" id="like-956941"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-957095">
<div class="div-comment" id="div-comment-957095">
<div class="comment even thread-even depth-1 clearfix" id="comment-957095">
<div class="span-4 meta last">
<div class="author" title="Fawad">Fawad</div>
<div class="timestamp" title="2012-10-02T22:58:54 GMT">
			Oct 3, 2012 - 3:58AM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>Khaled Ahmed is always interesting and informative to read including this piece. However, in this case I think Khaled Sahib is overthinking the connection. I had read somewhere (cannot find the source now) that the last name Jinnah was added by the family as a tribute to Zuljinah (which was the name of Husayn ibn-e-Ali’s horse at Karbala). Zuljinah processions are taken out during Muharram. This explanation makes a lot of natural sense as the family was Ismaili Shia and fairly devout. </p>
<p><span class="comments-like clearfix" id="like-957095"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-957196">
<div class="div-comment" id="div-comment-957196">
<div class="comment odd alt thread-odd thread-alt depth-1 clearfix" id="comment-957196">
<div class="span-4 meta last">
<div class="author" title="Pir Bulleh Shah">Pir Bulleh Shah</div>
<div class="timestamp" title="2012-10-02T23:43:13 GMT">
			Oct 3, 2012 - 4:43AM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>Arijit Sharma</p>
<p>People malign Jihadis unnecessarily. You are the first Hindu to have understood Jihad correctly.</p>
<p><span class="comments-like clearfix" id="like-957196"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-957252">
<div class="div-comment" id="div-comment-957252">
<div class="comment even thread-even depth-1 clearfix" id="comment-957252">
<div class="span-4 meta last">
<div class="author" title="gp65">gp65</div>
<div class="timestamp" title="2012-10-03T00:26:38 GMT">
			Oct 3, 2012 - 5:26AM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>@Khawaja Ali Zubair: “So Ahmed Ali Jinnah and Fatima Jinnah decided to take cue and changed their names too? On what basis do you claim he added the name himself? I am sorry, but I find your statement highly offensive.”</p>
<p>What exactly do you find offensive. What is stated is a matter of record. In Gujarat, barring some people whose surnames indicated their profession, it was uncommon for people to have a surname. People usually went by their own name and name of father (husband in case of married women). </p>
<p><span class="comments-like clearfix" id="like-957252"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-957282">
<div class="div-comment" id="div-comment-957282">
<div class="comment odd alt thread-odd thread-alt depth-1 clearfix" id="comment-957282">
<div class="span-4 meta last">
<div class="author" title="gp65">gp65</div>
<div class="timestamp" title="2012-10-03T00:38:36 GMT">
			Oct 3, 2012 - 5:38AM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>@Pir Bulleh Shah: “People malign Jihadis unnecessarily. You are the first Hindu to have understood Jihad correctly.”</p>
<p>I think what people criticize is what is currently practiced in the name of jihad. Since the people exhorting them  do so in the name of jihad and people actually doing those barbaric acts, claim they are doing jihad, that is the what the world associates with jihad. </p>
<p>After all, you will judge Hindus based on the behaviors Hindus demonstrate – right? You do not study Bhagvad Geeta or Vedas do you? </p>
<p>Finally, it would also seem that it is not just rest of the world but even the Muslims who indulge in barbaric terrorism in the name of jihad are also misinterpreting jihad – right?</p>
<p><span class="comments-like clearfix" id="like-957282"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-957295">
<div class="div-comment" id="div-comment-957295">
<div class="comment even thread-even depth-1 clearfix" id="comment-957295">
<div class="span-4 meta last">
<div class="author" title="kaalchakra">kaalchakra</div>
<div class="timestamp" title="2012-10-03T00:45:43 GMT">
			Oct 3, 2012 - 5:45AM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>Makes perfect sense to me. The Great Quaid was a thoroughly rational progressive democrat – a modern-day Pythagoras in many aspects while excelling the latter in many others. </p>
<p><span class="comments-like clearfix" id="like-957295"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-957342">
<div class="div-comment" id="div-comment-957342">
<div class="comment odd alt thread-odd thread-alt depth-1 clearfix" id="comment-957342">
<div class="span-4 meta last">
<div class="author" title="sure, why not">sure, why not</div>
<div class="timestamp" title="2012-10-03T01:03:43 GMT">
			Oct 3, 2012 - 6:03AM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>@Pir Bulleh Shah @: Arijit Sharma:<br/>
jihad may be ok if it remains in the domain of victory over self. problem arises when the jihad is used for victory over others. people have problems with that type of jihad. so better u teach your people first about the true meaning of jihad rather than teaching us. then other people will not malign it unnecessarily.</p>
<p><span class="comments-like clearfix" id="like-957342"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-957417">
<div class="div-comment" id="div-comment-957417">
<div class="comment even thread-even depth-1 clearfix" id="comment-957417">
<div class="span-4 meta last">
<div class="author" title="gp65">gp65</div>
<div class="timestamp" title="2012-10-03T01:52:37 GMT">
			Oct 3, 2012 - 6:52AM		</div>
<div class="reply">
<a class="comment-reply-link" href="http://tribune.com.pk/story/445815/jinnah-and-pythagoras/#respond-p445815" rel="nofollow">Reply</a>
</div>
</div>
<div class="span-12 last">
<div class="content">
<p>@BlackJack: “However, I fail to see the connection between Jinnah and Pythagoras. “</p>
<p>It appears that Pythagoras was influenced by Jainism as was Jinnah’s grandfather who named his father Jina. There is no other connection that is sought to be highlighted I believe.</p>
<p><span class="comments-like clearfix" id="like-957417"><a class="disabled" href="#" target="_blank" title="Recommend This Comment">Recommend</a></span></p>
</div>
</div>
</div> </div>
</li>
<li class="li-comment" id="li-comment-957418">
<div class="div-comment" id="div-comment-957418">
<div class="comment odd alt thread-odd thread-alt depth-1 clearfix" id="comment-957418">
<div class="span-4 meta last">
<div class="author" title="Babloo">Babloo</div>
<div class="timestamp" title="2012-10-03T01:53:07 GMT">
			Oct 3, 2012 - 6:53AM		</div>
<div class="reply">
<a href="h"></a></div></div></div></div></li></ul></div></div></div></div></div></body></html>